<div class="issue">

{{kd-issue issues=this}}

<menu class="controls">
  <menuitem class="zoom-in"><button class="btn btn-lg btn-primary"><span class="fa fa-search-plus"></span></button></menuitem>
  <menuitem class="zoom-out"><button class="btn btn-lg btn-primary"><span class="fa fa-search-minus"></span></button></menuitem>
</menu>
{{#link-to 'collections.main'}}Back to collections{{/link-to}}
