.collection-body {

    .navbar .container-fluid {
        max-width: 1490px;
    }

    .collection {
        max-width: 1490px;
        margin: 40px auto;


        .magazine-display {
            padding: 0 10px;
            margin: 0;
            .clearfix();

            @media (min-width: 1025px) {
                padding: 0 235px 0 20px;
            }
        }

        .magazine {
            float: left;
            .size(50%, auto);
            padding: 10px;
            list-style: none;

            > a {
                position:relative;
                display: block;
                overflow: hidden;
                box-shadow: 4px 3px 2px rgba(0,0,0,.3);
            }

            .cover {
                display: block;
                width: 100%;
                height: auto;
                margin: 0 auto;
            }

            .magazine-info {
                position: absolute;
                top: 100%;
                .size(100%, 110px);
                padding: 5px 10px;
                background: fade(#222,80%);
                color: cyan;
                opacity: 0;
                .transition(all 180ms ease-out);
            }

            &:hover {
                .magazine-info {
                    opacity: 1;
                    .translate(0, -100%);
                }
            }

            &.next {
                position: relative;

                .cover {
                    opacity:.7;
                    border: 10px solid cyan;
                }

                .next-in {
                    position: absolute;
                    top: 35%;
                    left: 20px;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 18px;


                    .days {
                        display: block;
                        font-size: 28px;
                        font-weight: 700;
                    }
                }


            }

            @media (min-width: 480px) {
                width: 100% / 3;
            }

            @media (min-width: @screen-sm) {
                width: 100% / 4;
            }

            @media (min-width: @screen-md) {
                width: 100% / 5;
            }

            @media (min-width: (@screen-lg + 1)) {
                width: 100% / 6;
            }
        }
    }

}
