body {
    padding-top: @navbar-height;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.btn {
    border: 0;

    &:active,
    &:active:focus,
    &:focus,
    &:visited {
        outline: 0;
    }
}

hr {
  border-color: black;
  border-width: 2px;
}

.navbar-toggle {

  @media (min-width: @screen-md) {
    display: none;
    
  }
}