.login-body {
	background-color: #f9f9f9;

	.container-fluid {
		// max-width: 980px;
	}

	.form-control {
		font-weight: 300;
	}
}

.login {
	margin-top: 60px;
}

.social-login {
	margin: 7% auto;
}

.btn-enter {
	width: 100%;
	margin-bottom: 25px;
}

.btn-social {
	margin-bottom: (@grid-gutter-width / 2);

	&.btn-facebook,
	&.btn-google-plus {
		border: 0;
	}
}

.login-assistance {
	float: left;
	font-size: 13px;
}


.separator {
	position: absolute;
	.size(100%, 15px);
	margin-top: -21px;
	margin-left: (@grid-gutter-width / -2);
	line-height: 15px;
	text-align: center;
	color: #999;

	&:before,
	&:after {
		position: absolute;
		top: 50%;
		display: block;
		.size(38%, 1px);
		background: #ddd;
		content: "";
	}

	&:before {
		left: (@grid-gutter-width / 2);
	}

	&:after {
		right: (@grid-gutter-width / 2);
	}
}

.email-login {
  margin: 11% 0px;
}

.login-error {
  display: block;
  color: @brand-danger;
  -webkit-animation: pull-down 200ms;
  animation: pull-down 200ms;
}

.login-extend {
  margin-top: 5%;
}

.tittle-login {
  color: @magenta;
  margin-bottom: 3%;
}

.txt-barcelona {
  margin-bottom: 7%;
}

.signup {
  margin-top: 5%;
}

.block {
  display: block;
}

@media (min-width: @screen-sm) {
	.login {
		position: absolute;
		top: 25%;
		left: 50%;
		.translate(-50%,0);
	}

	.social-login {
		padding-right: 2%;
	}

	.custom-login {
		padding-left: 5%;
	}

	.separator {
		left: 0;
		.size(15px, 100%);
		padding-top: 23%;
		margin: 0;

		&:before,
		&:after {
			.size(1px, 40%);
			right: 0;
			left: 50%;
		}

		&:before {
			top: 0;
		}

		&:after {
			top: auto;
			bottom: 0;
		}
	}

	.btn-enter {
		width: 40%;
		float: right;
	}
}
