.barcelona-nav {
  background: @cyan-dark;
  border: none;
  -webkit-box-shadow: 0px 2px 5px 0px rgb(0,0,0,);
          box-shadow: 0px 2px 5px 0px rgb(0,0,0,);
    .bracelona-logo {
        .brand-logo(220px;100%);
        margin-left: (@grid-gutter-width / 2);
        text-indent: -9999px;
    }

    > .container-fluid .bracelona-logo {
        margin-left: (@grid-gutter-width / 2);
    }

    .fa-sign-out {
        width: 75px;
        height: 65px;
        line-height: 65px;
        background: none;
        border: 0;
        outline: 0;
        color: #f1f1f1;
        font-size: 30px;

        &:hover {
            color: @magenta;
        }

        &:active,
        &:hover,
        &:focus {
            outline: 0;
        }
    }
}
