<section class="user-questions">
	<div class="container">
		<div class="row">
			<div class="head-faq" id="top">
				<h1>Preguntas Frecuentes</h1>
				<p>Respuesta concretas a las preguntas de nuestros usuarios.</p>
			</div>
			<div class="faq-questions">
				<ul>
					<li><a href="#01">¿Cóme me suscribo?</a></li>
					<li><a href="#02">¿Con qué medios se puede pagar?</a></li>
					<li><a href="#03">¿Puedo darme de baja en cualquier momento?</a></li>
					<li><a href="#04">¿Se puede leer en telefonos celulares?</a></li>
					<li><a href="#05">¿Se puede leer offline?</a></li>
					<li><a href="#06">¿En qué moneda se debita el pago si compro desde el extranjero?</a></li>
					<li><a href=="#07">¿Existe una aplicación para celulares?</a></li>
					<li><a href="#08">No me aparece el último número, ¿cómo hago mi reclamo?</a></li>
					<li><a href="#09">¿Si cancelo mi suscripción pierdo el acceso a las ediciones ya adquiridas?</a></li>
					<li><a href="#10">¿Por qué piden datos personales?</a></li>
					<li><a href="#11">¿Cómo me entero que hay una nueva edición disponible?</a></li>
				</ul>
			</div>
			<div class="faq-answers">
				<div id="01">
					<h4>¿Cóme me suscribo?</h4><a href="#top"><span class="icon icon-top"></span></a>
					<p>Para suscribirse, haga clic en SUSCRIBIRSE, complete el formulario con
						sus datos, y luego elija el tipo de suscripción (mensual, trimestral o semestral), la forma de pago (tarjeta de crédito, débito o depósito) y el sistema de pago (MercadoPago o PayPal).</p>
				</div>
				<div id="02">
					<h4¿Con qué medios se puede pagar?></h4><a href="#top"><span class="icon icon-top"></span></a>
					<p>Se puede pagar con tarjeta de crédito a través de MercadoPago o PayPal (si reside en el exterior) con tarjeta o saldo en la cuenta. Estamos trabajando para agregar nuevos medios de pago (efectivo, transferencia, etc)</p>
				</div>
				<div id="03">
					<h4>¿Puedo darme de baja en cualquier momento?</h4><a href="#top"><span class="icon icon-top"></span></a>
					<p>Sí, puede darse de baja en cualquier momento. Sólo debe hacer clic en su SUSCRIPCIÓN y elegir la opción Cancelar Suscripción.</p>
				</div>
				<div id="04">
					<h4>¿Se puede leer en teléfonos celulares?</h4><a href="#top"><span class="icon icon-top"></span></a>
					<P class="">Sí, la revista puede leerse desde cualquier dispositivo con conexión a Internet: celulares, tablets, computadoras de escritorio, laptops, etcétera.</P>
				</div>
				<div id="05">
					<h4>¿Se puede leer offline?</h4><a href="#top"><span class="icon icon-top"></span></a>
					<p>Sí. Para ello deberá optar por descargar los archivos PDF de cada edición. Para verlos, deberá usar el programa ad hoc que le provee su dispositivo.</p>
				</div>
				<div id="06">
					<h4>¿En qué moneda se debita el pago si compro desde el extranjero?</h4><a href="#top"><span class="icon icon-top"></span></a>
					<p>Los pagos a través de Mercado Pago son en pesos y sólo para las cuentas 
						bancarias en pesos. Los pagos desde el exterior deben hacerse a través de 
						PayPal, que convierte el pago a su moneda local.</p>
				</div>
				<div id="07">
					<h4>¿Existe una aplicación para celulares?</h4><a href="#top"><span class="icon icon-top"></span></a>
					<p>Estamos trabajando en una aplicación para Android y una para iOS</p>
				</div>
				<div id="08">
					<h4>No me aparece el último número; ¿cómo hago mi reclamo?</h4><a href="#top"><span class="icon icon-top"></span></a>
					<p>Cada edición estará accesible en su dispositivo al mismo tiempo en que los 
						rimeros ejemplares impresos llegan a los kioscos de Buenos Aires. La frecuencia 
						de salida de Revista Barcelona es cada dos semanas, jueves por medio, de modo 
						que cada nuevo número podrá verse en su versión digital aproximadamente a 
						las 19 horas del día de su salida. Si usted considera que debería tener el último 
						número disponible y aún no lo ve, póngase en contacto con nosotros utilizando el 
						FORMULARIO DE CONTACTO.</p>
				</div>
				<div id="09">
					<h4>¿Si cancelo mi suscripción pierdo el acceso a las ediciones ya adquiridas?</h4><a href="#top"><span class="icon icon-top"></span></a>
					<p>No, usted mantendrá el acceso a todas las revistas que haya adquirido hasta el
						momento de la baja de su suscripción.</p>
				</div>
				<div id="10">
					<h4>¿Por qué piden datos personales?</h4><a href="#top"><span class="icon icon-top"></span></a>
					<p>Porque el número de DNI es necesario para facturar cada venta a cada uno de
						los suscriptores.</p>
				</div>
				<div id="11">
					<h4>¿Cómo me entero que hay una nueva edición disponible?</h4><a href="#top"><span class="icon icon-top"></span></a>
				</div>
			</div>
		</div>
	</div>
</section>