<section class="user-profile">
	<div class="container">
		<div class="row">
			<div class="account">
				<h1>Tu cuenta</h1>
				<div class="profile">
					<h2>Perfil</h2>
					<div class="user">
						<h3>Nombre Completo</h3>
						<p>Fulanito de Tal</p>
						<h3>Nombre de usuario</h3>
						<p>fulanito@mail.com</p>
						<h3>Fecha de nacimiento</h3>
						<p><time>1988-05-22</time>22 de Mayo 1988</p>
						<h3>Pais</h3>
						<p>Argentina</p>
						<a href="#">Edita tu perfil</a>
					</div>
					<div class="suscription-state">
						<p>Actualmente estás usando Barcelona Digital de muetra. Para poder disfrutar de numeros nuevos y no parar de reir, debes<a href="#">suscribirte.</a></p>
						<p>Estas disfrutando de Barcelona Digital actualmente. Si deseas puedes:</p>
						<button class="btn btn-block btn-primary">Gestionar suscripciones y págos</button>
					</div>					
				</div>
			</div>
			<div class="promotion">
				<h2>Todavia no estas Suscripto</h2>
				<p>
					Queremos que disfrutes de la Revista Barcelona, en su medio digital. Es por eso
					que disponemos de planes preparados especialmente para ti.
				</p>
				<button>Suscríbete</button>
			</div>
		</div>
	</div>
</section>