<div class="sidebar-wrapper">
  <menu>
    {{#if active}}
      <menuitem>Suscripción activa</menuitem>
    {{else}}
      {{#link-to 'subscriptions.options'}}Suscribirse{{/link-to}}
    {{/if}}
  </menu>
</div>
