<section class="contact-us">
	<div class="container">
		<div class="row">
			<h1>Contáctenos</h1>
			<p>Dejanos tu email, nombre, y reponderemos cualquier pregunta que tengas.</p>
			<div class="form">
				<form action="#">
					<input type="text" placeholder="Tu nombre" name="nombre" required>
					<input type="email" placeholder="Tu correo" name="correo" required>
					<input type="text" placeholder="Pregunta" name="pregunta" required>
				</form>
				<div class="social">
					<p>Facebook</p>
					<p>Twitter</p>
				</div>
			</div>
		</div>
	</div>
</section>