<section class="user-questions">
	<div class="container">
		<div class="row">
			<div class="head-faq" id="top">
				<h1>Preguntas Frecuentes</h1>
				<p>Respuesta concretas a las preguntas de nuestros usuarios.</p>
			</div>
			<div class="container page-questions">
				<div class="row">
					<div class="col-sm-3 column-questions">
						<div class="container-questions">
							<h4 class="tittle-questions">Información sobre Barcelona Digital</h4>
							<ul class="questions">
								<li>
									<span class="question">¿Cómo me suscribo?</span>
									<span class="answer">Para suscribirse, haga clic en SUSCRIBIRSE, complete el formulario con
									sus datos, y luego elija el tipo de suscripción (mensual, trimestral o semestral), la forma de pago (tarjeta de crédito, débito o depósito) y el sistema de pago (MercadoPago o PayPal).</span>
								</li>
								<li>
									<span class="question">¿Con qué medios se puede pagar?</span>
									<span class="answer">Se puede pagar con tarjeta de crédito a través de MercadoPago o PayPal (si reside en el exterior) con tarjeta o saldo en la cuenta. Estamos trabajando para agregar nuevos medios de pago (efectivo, transferencia, etc)</span>
								</li>
								<li>
									<span class="question">¿En qué moneda se debita el pago?</span>
									<span class="answer">Los pagos a través de Mercado Pago son en pesos y sólo para las cuentas
									bancarias en pesos. Los pagos desde el exterior deben hacerse a través de
									PayPal, que convierte el pago a su moneda local.</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 column-questions">
						<div class="container-questions">
						<h4 class="tittle-questions">Administracion de la cuenta</h4>
							<ul class="questions">							
								<li>
									<span class="question">¿Puedo darme de baja en cualquier momento?</span>
									<span class="answer">Sí, puede darse de baja en cualquier momento. Sólo debe hacer clic en su SUSCRIPCIÓN y elegir la opción Cancelar Suscripción.</span>
								</li>
								<li>
									<span class="question">No me aparece el último número, ¿cómo hago mi reclamo?</span>
									<span class="answer">Cada edición estará accesible en su dispositivo al mismo tiempo en que los
									primeros ejemplares impresos llegan a los kioscos de Buenos Aires. La frecuencia
									de salida de Revista Barcelona es cada dos semanas, jueves por medio, de modo
									que cada nuevo número podrá verse en su versión digital aproximadamente a
									las 19 horas del día de su salida. Si usted considera que debería tener el último
									número disponible y aún no lo ve, póngase en contacto con nosotros utilizando el
									<a href="#contant">formulario de contacto.</a></span>
								</li>	
								<li>
									<span class="question">¿Si cancelo mi suscripción pierdo el acceso a las ediciones ya adquiridas?</span>
									<span class="answer">No, usted mantendrá el acceso a todas las revistas que haya adquirido hasta el
									momento de la baja de su suscripción.</span>
								</li>					
							</ul>
						</div>
					</div>
					<div class="col-sm-3 column-questions">
						<div class="container-questions">
						<h4 class="tittle-questions">Cómo usar Barcelona digital</h4>
							<ul class="questions">
								<li>
									<span class="question">¿Cómo me entero que hay una nueva edición disponible?</span>
									<span class="answer"></span>
								</li>
								<li>
									<span class="question">¿Se puede leer en telefonos celulares?</span>
									<span class="answer">Sí, la revista puede leerse desde cualquier dispositivo con conexión a Internet: celulares, tablets, computadoras de escritorio, laptops, etcétera.</span>
								</li>
								<li>
									<span class="question">¿Se puede leer offline?</span>
									<span class="answer">Sí. Para ello deberá optar por descargar los archivos PDF de cada edición. Para verlos, deberá usar el programa ad hoc que le provee su dispositivo.</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 column-questions">
						<div class="container-questions">
							<ul class="questions">
								<h4 class="tittle-questions">Problemas <br> comunes</h4>
									<li>
										<span class="question">No me aparece el último numero, ¿Cómo hago mi reclamo?</span>
										<span class="answer">Cada edición estará accesible en su dispositivo al mismo tiempo en que los
										primeros ejemplares impresos llegan a los kioscos de Buenos Aires. La frecuencia
										de salida de Revista Barcelona es cada dos semanas, jueves por medio, de modo
										que cada nuevo número podrá verse en su versión digital aproximadamente a
										las 19 horas del día de su salida. Si usted considera que debería tener el último
										número disponible y aún no lo ve, póngase en contacto con nosotros utilizando el
										<a href="#contant">formulario de contacto.</a></span>
									</li>
									<li>
										<span class="question">¿Existe una aplicación para celulares?</span>
										<span class="answer">Estamos trabajando en una aplicación para Android y una para iOS</span>
									</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="container contact-us">
				<div class="row">
					<h3>Tambien puede escribirnos</h3>
					<p>Dejanos tu email, nombre, y reponderemos cualquier pregunta que tengas.</p>
					<div class="form">
						<form action="contact" class="formulario">
							<div class="form-group">
								<label>Nombre</label>
								<input class="form-control" type="text" placeholder="Juan Topo" name="nombre" required>
							</div>
								<div class="form-group">
									<label>Correo Electrónico</label>
									<input class="form-control" type="email" placeholder="consulta@revistabarcelona.com.ar" name="correo" required></div>
								<div class="form-group">
									<label>Escríbenos</label>
									<textarea class="form-control" type="text" placeholder="Haz tu consulta ..." name="pregunta" required></textarea>
								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-primary">
								</div>
						</form>
						<div class="social">
							<p>Facebook</p>
							<p>Twitter</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
