{{#if session.isAuthenticated}}
<section class="account-profile">
	<div class="container">
		<div class="row">
			<div class="container-count col-sm-12">
				<h1>Mi cuenta</h1>
				<div class="suscriptions">
					<header class="col-md-3">
						<h2>Membresia y Facturación</h2>
					</header>
					<section class="flex col-md-9">
						<div class="membresia-items rows">
							<div class="user-account w50 column">
								<span>nombre@mail.com</span>
								<span>cuenta creada por mail</span>
							</div>
							<div class="user-account-link w50 column">
								<a href="">actualizar mail y contraseña</a>
								<a href="">Preferencias de mail</a>
							</div>
						</div>
						<div class="pay rows">
							<div class="pay-info w50 column">
								<span>VISA XXXX-XXXX-XXXX-1234</span>
							</div>
							<div class="pay-link w50 column">
								<a href="">Actualizar información de pago</a>
								<a href="">Detalles facturados</a>
							</div>
						</div>
					</section>
				</div>
				<div class="details">
					<header class="col-md-3">
						<h2>Detalles del plan</h2>
					</header>
					<section class="flex col-md-9 rows">
						<div class="details-info w50 column">
							<span>Plan contratado mensualmente</span>
						</div>
						<div class="details-link w50 column">
							<a href="">Cambiar plan</a>
						</div>
					</section>
				</div>
				<div class="account">
					<header class="col-md-3">
						<h2>Perfil</h2>
					</header>
					<section class="col-md-9 rows">
						<div class="account-info w50 column">
							<span>Pablo Laurino</span>
							<span>Argentina</span>
						</div>
						<div class="account-link w50 column">
							<a href="">Administrar perfil</a>
						</div>
					</section>
				</div>
				<div class="oferta">
					<header class="col-md-3">
						<h2>Ofertas</h2>
					</header>
					<section class="flex col-md-9 rows">
						<div class="oferta-form w50 column">
							<form class="form-inline">
								<div class="form-group">
									<label for="exampleInputNumber" class="sr-only">Pin</label>
									<input type="text" class="form-control" placeholder="Código o Pin">
								</div>
								<button type="submit" class="btn btn-primary">Canjear</button>
							</form>
						</div>
						<div class="oferta-link w50 column">
							<a href="">¿Dónde conseguir los códigos?</a>
							<a href="">¿Para qué sirven los códigos?</a>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>
{{/if}}