.collection-body {
  background-color: #444444;

  .navbar-brand {
    background-image: url('/assets/images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-indent: -1000em;
  }

  .collection {
    margin-top: 80px;

    .magazine {
      width: 80px;
      height: 107px;
      margin-bottom: 20px;
      margin-right: 2%;

      list-style: none;

      &.next {
        background-color: #FF0000;
        font-size: 1rem;
        width: 80px;
        height: 107px;
        .days {
          font-size: 2rem;

        }
      }

      .cover {
        width: 80px;
        height: 107px;
      }
    }
  }

}
