{{!-- <menu>
  <menuitem>{{#link-to 'subscriptions.subscribe' 0}} Suscribirse (Solo tarjeta de crédito){{/link-to}}</menuitem>
  <menuitem>{{#link-to 'subscriptions.subscribe' 3}} Suscribirme por 3 meses {{/link-to}}</menuitem>
  <menuitem>{{#link-to 'subscriptions.subscribe' 6}} Suscribirme por 6 meses {{/link-to}}</menuitem>
</menu>
 --}}

 <span class="option-suscribe">
 	<div class="container">
 		<div class="row">
 			<div class="col-md-10 col-xs-12">
 				<h2>Suscribiendote tendrás acceso instantaneo a los numeros de la Revista Barcelona</h2>
 				<p>Como pensamos en todo, tambien te damos posibilidades de poder elegir tu plan, y la forma más comoda de poder pagarlo</p>
 				<div class="paiment-method">
 					<h3>Elige tu método de pago</h3>
 					<div class="col-3 credit-card">
 						<ol>
 							<li>Pagar con Paypal</li>
 							<li>Pagar con MercadoPago</li>
 						</ol>
 					</div>
 				</div>
 				<div class="paiment-plan row">
 					<h3>Elige el plan que te guste</h3>
 					<div class="plan card col-md-3 col-xs-12">
 						<div class="head">
 							<p class="signo">$</p>
 							<p class="precio">75</p>
 							<p class="moneda">Pesos</p>
 						</div>
 						<div class="ventajas">
 							<h4>Mensual</h4>
 							<p>3 meses</p>
 						 	<p>Acceso a todos los numeros</p>
 						 	<p>Crédito, Débito o Deposito</p>
 						 	<buton class="credit-card btn btn-yellow">Elegir Plan</buton>
 						 	</div>
 					</div>
 					<div class="paiment-plan row">
 					<div class="plan card col-md-3 col-xs-12">
 						<div class="head">
 							<p class="signo">$</p>
 							<p class="precio">25</p>
 							<p class="moneda">Pesos</p>
 						</div>
 						<div class="ventajas">
 							<h4>Mensual</h4>
 							<p>Renovable todos los meses</p>
 						 	<p>Acceso a todos los numero</p>
 						 	<p>Solo Tarjeta de Crédito</p>
 						 	<buton class="credit-card btn btn-yellow">Elegir Plan</buton>
 						 	</div>
 					</div>
 					<div class="paiment-plan row">
 					<div class="plan card col-md-3 col-xs-12">
 						<div class="head">
 							<p class="signo">$</p>
 							<p class="precio">150</p>
 							<p class="moneda">Pesos</p>
 						</div>
 						<div class="ventajas">
 							<h4>Mensual</h4>
 						 	<p>6 meses</p>
 						 	<p>Crédito, Débito o Deposito</p>
 						 	<button class="credit-card btn btn-yellow">Elegir Plan</button>
 						 	</div>
 					</div>
 				</div>
 				<div class="finish">
 					<h3>Rivasá tu compra</h3>
 					<div class="mensaje">
 						<h4>Dispones de un mes gratis</h4>
 						<p>Suscribiendote se te computará EL PAGO ELEGIDO despues del més gratis</p>
 						<button class="continuar btn btn-primary">Ir a pagar tu plan</button>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
 </span>