{{!-- <menu>
  <menuitem>{{#link-to 'subscriptions.subscribe' 0}} Suscribirse (Solo tarjeta de crédito){{/link-to}}</menuitem>
  <menuitem>{{#link-to 'subscriptions.subscribe' 3}} Suscribirme por 3 meses {{/link-to}}</menuitem>
  <menuitem>{{#link-to 'subscriptions.subscribe' 6}} Suscribirme por 6 meses {{/link-to}}</menuitem>
</menu>
 --}}

 <span class="option-suscribe">
 	<div class="container">
 		<div class="row">
 			<div class="col-md-10 col-md-offset-1 col-xs-12">
 				<h2 class="tittle text-center">Suscribiendote tendrás acceso instantaneo a los numeros de la Revista Barcelona</h2>
 				<p class="hello">Como pensamos en todo, tambien te damos posibilidades de poder elegir tu plan, y la forma más comoda de poder pagarlo</p>
 				<div class="paiment-plan row">
 					<h3 class="sub-tittle"><span class="icon-01"></span>Elige el plan que te guste</h3>
 					<div class="small container-plan">
 						<div class="plan card col-sm-4 col-xs-12">
 							<div class="head">
	 							<p class="signo">$</p>
	 							<p class="precio">75</p>
	 							<p class="moneda">Pesos</p>				
		 					</div>
	 						<div class="ventajas">
	 							<h4 class="periodo ch-3">3 Meses</h4>		 							
	 						 	<p class="items">Acceso a todos los numeros</p>
	 						 	<p class="items">Crédito, Débito o Deposito</p>
	 						 	<input type="radio" name="suscription-opcion" id="3-months" class="select-plan">
		 						 	<label for="3-months" class="select-plan">Suscribirme al plan</label>
	 						</div>
		 				</div>				
		 					<div class="plan card col-sm-4 col-xs-12">
		 						<div class="head">
		 							<p class="signo">$</p>
		 							<p class="precio">25</p>
		 							<p class="moneda">Pesos</p>
		 						</div>
		 						<div class="ventajas">
		 							<h4 class="periodo">Mensual</h4>
		 							<p class="items">Renovable todos los meses</p>
		 						 	<p class="items">Solo Tarjeta de Crédito</p>
		 						 	<p class="items">Acceso a todos los numeros</p>
		 						 	<input type="radio" name="suscription-opcion" id="monthly" class="select-plan">
		 						 	<label for="monthly" class="select-plan">Suscribirme al plan</label>
		 						</div>
		 					</div>
		 					<div class="plan card col-sm-4 col-xs-12">
		 						<div class="head">
		 							<p class="signo">$</p>
		 							<p class="precio">150</p>
		 							<p class="moneda">Pesos</p>
		 						</div>
		 						<div class="ventajas">
		 							<h4 class="periodo">6 Meses</h4>		 						 	
		 						 	<p class="items">Acceso a todos los número</p>
		 						 	<p class="items">Crédito, Débito o Deposito</p>
		 						 	<input type="radio" name="suscription-opcion" id="6-months" class="select-plan">
		 						 	<label for="6-months" class="select-plan">Suscribirme al plan</label>
		 						</div>
		 					</div>
 					</div>
 				</div>
 				<div class="paiment-method"> 					
 					<h3 class="sub-tittle"><span class="icon-02"></span>Elige tu método de pago</h3>
 					<div class="choise-plan-process">
					    <div class="info text-info bg-info text-center circle">
					    	Seleccione un plan de suscripción
	 						  <div class="circle1"></div>
					      <div class="circle2"></div>
					      <div class="circle3"></div>
					    </div>
 					</div>
 					<div class="col-md-12 col-xs-12 method">
 						<ol class="item">
 							<li class="select"><button class="btn btn-primary-bg btn-compra">Paypal</button></li>
 							<li class="select"><button class="btn btn-primary-bg btn-compra">Mercado Pago</button></li>
 						</ol>
 					</div>
 				</div> 				
 				{{!-- <div class="finish">
 					<h3 class="sub-tittle">Rivasá tu compra</h3>
 					<div class="mensaje">
 						<h4>Dispones de un mes gratis</h4>
 						<p>Suscribiendote se te computará EL PAGO ELEGIDO despues del més gratis</p>
 						<button class="continuar btn btn-primary">Ir a pagar tu plan</button>
 					</div>
 				</div> --}}
 			</div>
 		</div>
 	</div>
 </span>